.bookContainer {
  background-color: var(--base-4);
  margin: 10px;
  height: 220px;
  max-width: 600px;

  display: flex;
  border-radius: 24px;
  position: relative;
  border: 0.5px solid lightcyan;
  .informationWrapper {
    padding: 24px;
    flex: 0 0 380px;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
      font-size: 20px;
      font-weight: 600;
      color: var(--base-7);
    }

    .authName {
      font-size: 12px;
      span {
        font-size: 12px;
        text-decoration: underline;
        color: blue;
      }
    }
    .description {
      margin-top: 12px;
      font-size: 12px;
      color: var(--base-9);
    }
    .likebtn {
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
    .deleteBtn {
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
    .editBtn {
      position: absolute;
      top: 16px;
      right: 40px;
      cursor: pointer;
    }
    .pubDate {
      width: fit-content;
      font-size: 12px;
      position: absolute;
      bottom: 16px;
    }
  }
  .imageWrapper {
    display: flex;

    flex: 0 0 200px;
    justify-content: center;

    img {
      object-fit: contain;
      height: 180px;
      margin: auto;

      text-align: center;
    }
  }
}
