.pagination {
  display: flex;
  height: 10%;

  position: relative;
  top: 56px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .pageNumber {
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--base-3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selected {
    background-color: var(--base-7);
    color: var(--base-10);
  }
}
