.bookListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 0fr));
  gap: 16px;
  position: relative;
  top: 70px;
  overflow: auto;
  height: 90%;
  grid-auto-rows: 240px;
}
